<!DOCTYPE html>
<html>
  <head>
    <title>Product App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add New Product to DB</h1><br><br><br>
    <form action="/addProduct" method="POST">
        <input type="text" placeholder="Enter the Url" name="link">
        <input type="submit">
    </form>
  </body>
</html>
