<!DOCTYPE html>
<html>
  <head>
    <title>Product App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Find Product by Given ID</h1><br><br><br>
    <form action="/detailProduct" method="POST">
        <input type="text" placeholder="Enter the Id" name="ID">
        <input type="submit">
    </form>
  </body>
</html>
