<!DOCTYPE html>
<html>
  <head>
    <title>Product App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1><br><br><br>
    <a href = "/addProduct">Add product with the given url</a><br><br><br>
    <a href = "/detailProduct">Search with Id</a><br><br><br>
    <a href = "/products">All Products</a><br><br><br>

  </body>
</html>
